@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-outer-spin-button {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-slider-thumb{
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
}

::-webkit-slider-runnable-track{
  appearance: none;
  color: black;
}
