@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-outer-spin-button {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-slider-thumb{
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 50;
}

.loader{
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: 1px solid transparent;
  border-top: 1px solid;
  border-left: 1px solid;
  animation: spin linear infinite 700ms;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  } 100% {
    rotate: 360deg;
  }
}
